<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Woof Call</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <h1></h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    {{else}}
    <a href="js/login">Login</a>
    {{/if}}
  </nav>
  <main>
  {{{ body }}}
  </main>
  <script src="/js/logout.js"></script>
</body>