<section class="loginform cf">
  <form name="login" action="index_submit" accept charset="utf-8">
    <div class="field is-horizontal">
      <div class="field-body">
        {{! User Email }}
        <div class="field">
          <label class="label" for="usermail">Email</label>
          <div class="control">
            <input
              class="input is-rounded"
              type="email"
              id="usermail"
              name="usermail"
              placeholder="Enter Email Here"
              required
            />
          </div>
        </div>
        {{! User Password }}
        <div class="field">
          <label class="label" for="password">
            Password
          </label>
          <div class="control">
            <input
              class="input is-rounded"
              type="password"
              id="password"
              name="password"
              placeholder="Enter a Passowrd Here"
              required
            />
          </div>
        </div>
      </div>
    </div>

    <input id="loginSubmit" type="submit" value="Login" />

  </form>
</section>

<script src="/js/login.js"></script>