<section class="loginform cf">
    <form name="login"  action="index_submit"  accept charset="utf-8">
        <ul>
            <li>
                <label for="usermail">Email</label>
                <input type="email" name="usermail" id="usermail" placeholder="yourname@genericemailhere.com" required>
            </li>
            <li>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Password" required>
            </li>
            <li>
                <input type="submit" value="Login">
            </li>
        </ul>
    </form>
</section>


<script src="/js/login.js"></script>
