<div class="login-sheet">
    <h2 class="title">Login</h2>
    <form class="login-forms">
        <div class="form-set">
            <label for="email-login">Email:</label>
            <input for="form-imput" type="text" id="email-login" />
        </div>
        <div class="form-set">
            <label for="password-login">Password:</label>
            <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-set">
            <button class="btm-primary" type="submit">login</button>
        </div>
    </form>
</div>

<script src="./js/login.js"></script>