<body>
    <h1>First, a few questions..</h1>
        </div>
            <h3>Please answer these questions so we can help you find your perfect playmate!</h3>
        <div>
        <div class="question-container" id="question">
           <h2>How active is your dog?</h2>
        </div>
        <div class="option-container">
            <form class="questions">
                <input type="radio"  id="active" name="active" value="1"> <label for="notVery">Not Very</label>
      
                <input type="radio"  id="active" name="active" value="2"> 
      
                <input type="radio"  id="active" name="active" value="3"> 
            
                <input type="radio"  id="active" name="active" value="4">
      
                <input type="radio" id="active" name="active" value="5">They cant stop moving!</button>
            </form>
        </div>
          <div class="question-container" id="question">
            How does your dog play?
        </div>
        <div class="option-container">
            <form class="questions">
            <input type="radio"  id="play" name="play" value="1"> <label for="notVery">Ruff!</label>
      
                <input type="radio"  id="play" name="play" value="2"> 
      
                <input type="radio"  id="play" name="play" value="3"> 
            
                <input type="radio"  id="play" name="play" value="4">
      
                <input type="radio" id="play" name="play" value="5">Nicely</button>
            </form>
        </div>
           <div class="question-container" id="question">
            How socialized is your dog?
        </div>
        <div class="option-container">
            <form class="questions">
                <input type="radio"  id="social" name="social" value="1"> <label for="notVery">Not very</label>
      
                <input type="radio"  id="social" name="social" value="2"> 
      
                <input type="radio"  id="social" name="social" value="3"> 
            
                <input type="radio"  id="social" name="social" value="4">
      
                <input type="radio" id="play" name="play" value="5">Social Butterfly</button>
            </form>
        </div>
        </div>
           <div class="question-container" id="question">
            Is your dog spayed/neutered?
        </div>
         <div class="option-container">
            <button type="button" id="Yes" >Yes</button>
      
            <button type="button" id="No" >No</button>
        </div>
    </div>
</body>
<button id="submit">Submit</button>