<body>
    <h1>First, a few questions..</h1>
            <h3>Please answer these questions so we can help you find your perfect playmate!</h3>
        <div>
        <form class="questions">
            <div class="question-container">
               <h2>How active is your dog?</h2>
            </div>
            <div class="option-container">
                    <input type="radio"  class="active" name="active" value="1"> <label for="notVery">Not Very</label>

                    <input type="radio"  class="active" name="active" value="2"> 

                    <input type="radio"  class="active" name="active" value="3"> 

                    <input type="radio"  class="active" name="active" value="4">

                    <input type="radio" class="active" name="active" value="5">They cant stop moving!</button>
            </div>
              <div class="question-container">
                How does your dog play?
            </div>
            <div class="option-container">
                <input type="radio"  class="play" name="play" value="1"> <label for="notVery">Ruff!</label>

                    <input type="radio"  class="play" name="play" value="2"> 

                    <input type="radio"  class="play" name="play" value="3"> 

                    <input type="radio"  class="play" name="play" value="4">

                    <input type="radio" class="play" name="play" value="5">Nicely</button>
            </div>
               <div class="question-container">
                How socialized is your dog?
            </div>
            <div class="option-container">
                    <input type="radio"  class="social" name="social" value="1"> <label for="notVery">Not very</label>

                    <input type="radio"  class="social" name="social" value="2"> 

                    <input type="radio"  class="social" name="social" value="3"> 

                    <input type="radio"  class="social" name="social" value="4">

                  <input type="radio" class="social" name="social" value="5">Social Butterfly</button>
          </div>
          </div>
             <div class="question-container">
              Is your dog spayed/neutered?
          </div>
           <div class="option-container">
              <button type="button" id="Yes" >Yes</button>

              <button type="button" id="No" >No</button>
          </div>
        </form>  
        </div>
</body>
<button id="submit">Submit</button>