<body>
    <div class="panel">
        <div class="result">
  
        </div>
            Please answer these questions so we can help you find your perfect playmate!
        <div>
        <div class="question-container" id="question">
            How active is your dog?
        </div>
        <div class="option-container">
            <button input type="radio" onclick="" id="op1" >Not Very</button>
      
            <button input type="radio" id="op2" ></button>
      
            <button input type="radio" id="op3"></button>
      
            <button input type="radio" id="op4">They cant stop moving!</button>
        </div>
          <div class="question-container" id="question">
            How des your dog play?
        </div>
        <div class="option-container">
            <button input type="radio" onclick="" id="op1" >Ruff!</button>
      
            <button input type="radio" id="op2" ></button>
      
            <button input type="radio" id="op3"></button>
      
            <button input type="radio" id="op4">Nicely</button>
        </div>
           <div class="question-container" id="question">
            How socialized is your dog?
        </div>
        <div class="option-container">
            <button input type="radio" onclick="" id="op1" >Not Very</button>
      
            <button input type="radio" id="op2" ></button>
      
            <button input type="radio" id="op3"></button>
      
            <button input type="radio" id="op4">Social Butterfly</button>
        </div>
    </div>
</body>
<button id="submit">Submit</button>