<div class="login-sheet">
    <h2 class="title is-2" id="signup-title">Signup</h2>
{{!--Form for Dog Info--}}

<img src="" alt="">
    <form class="dogForm">
        {{!-- Dog's name --}}
        <div class="field">
            <label class="label" for = "dogName">Dog's Name:</label>
            <div class="control">
                <input class="input" type="text" id="dogName" name="dogName" placeholder="Dog's Name Here"><br>
            </div>
        </div>
        {{!-- Dog's breed --}}
        <div class="field">
            <label class="label" for = "dogBreed">Dog's Breed:</label>
            <div class="control">
                <input class="input" type="text" id="dogBreed" name="dogBreed" placeholder="Dog's Breed Here"><br>
            </div>
        </div>
        {{!-- Dog's age --}}
        <div class="field">
            <label class="label" for="dogAge">Dog's Age:</label>
            <div class="control">
                <input class="input" type="text" id="dogAge" name="dogAge" placeholder="Dog's Age Here"><br>
            </div>
        </div>
        {{!-- add image url text input --}}
        <div class="field">
            <label class="label" for="image">Please paste the URL link for your dog's photo here:</label>
            <input class="input" type="text" id="imageUrl" name="image" placeholder="imageURL">
        </div>
        {{!-- Dog's Sex --}}
        <div class="field">
            <div class="control">
                <label class="radio" for="Male">
                    <input type="radio" id="Male" name="sex" value="Male">
                    Male
                </label>
                <label class="radio" for="Female">
                    <input type="radio" id="Female" name="sex" value="Female">
                    Female
                </label>
            </div>
        </div>
        {{!-- <form class="questions"> --}}
            <div class="columns">
                    
                <div class="column is-one-quarter">
                    <div class="question-container" >
                       How active is your dog?
                        </div>
                        <div class="option-container">
                                <label for="notVery">Not Very</label>
                                <input type="radio"  class="active" name="active" value="1">
                                <input type="radio"  class="active" name="active" value="2">
                                <input type="radio"  class="active" name="active" value="3">
                                <input type="radio"  class="active" name="active" value="4">
                                <input type="radio" class="active" name="active" value="5">They cant stop moving!</button>
                    </div>
                    </div>

                    <div class="column">
                        <div class="question-container">
                            How does your dog play?
                        </div>
                        <div class="option-container">
                            <label for="notVery">Ruff!</label>
                            <input type="radio"  class="play" name="play" value="1">
                            <input type="radio"  class="play" name="play" value="2">
                            <input type="radio"  class="play" name="play" value="3">
                            <input type="radio"  class="play" name="play" value="4">
                            <input type="radio" class="play" name="play" value="5">Nicely</button>
                        </div>
                    </div>

                    <div class="column">
                        <div class="question-container">
                            How socialized is your dog?
                        </div>
                        <div class="option-container">
                            <label for="notVery">Not very</label>
                            <input type="radio"  class="social" name="social" value="1">
                            <input type="radio"  class="social" name="social" value="2">
                            <input type="radio"  class="social" name="social" value="3">
                            <input type="radio"  class="social" name="social" value="4">
                            <input type="radio" class="social" name="social" value="5">Social Butterfly
                        </div>
                    </div>

                    <div class="column">
                        <div class="question-container">
                          Is your dog spayed/neutered?
                        </div>
                        <div class="option-container">
                            <label for="fixedTrue">Yes</label>
                            <input type="radio"  class="fixed" name="fixedTrue" value=true>
                            <label for="fixedFalse">No</label>
                            <input type="radio"  class="fixed" name="fixedFalse" value=false>
                        </div>
                    </div>
            </div>
        {{!-- </form>  --}}
{{!--Form for Owner Info --}}
        <div class="columns">
            <div class="field column">
                <label class="label"> What is your name? </label>
                <div class="control">
                    <input class="input" type="text" id="ownerName" name="ownerName" placeholder="Your Name Here">
                </div>
            </div>
            <div class="field column">
                <label class="label"> What is your zip code? </label>
                <div class="control">
                    <input  type="number" id="zipCode" name="zipCode" placeholder="Your Zip Code Here">
                </div>
            </div>
        </div>
    

    {{!--Username/Email/Password section of SignUp Page --}}
    {{!-- <form class="ownerForm"> --}}
        {{!-- <label for="name">Username:</label>
        <input type="name" id="name" name="name"> --}}
        
        <div class="field is-horizontal">
            <div class="field-body">
                {{!-- User Email --}}
                <div class="field">
                    <label class="label" for="emailSignup">Email</label>
                    <div class="control">
                        <input class="input is-rounded" type="email" id="email" name="email" placeholder="Enter Email Here">
                    </div>
                </div>
                {{!-- User Password --}}
                <div class="field">
                    <label class="label" for="passwordSignup">
                        Password:
                    </label>
                    <div class="control">
                        <input class="input is-rounded" type="password" id="password" name="password" placeholder="Enter a Passowrd Here">
                    </div>
                </div>
            </div>
        </div>
        
        <div class="field is-grouped"> 
            <p class="control">
                <input type="submit" value="Sign Up"  id="submit-input">
            </p>
            <p class="control">
                <a class="button is-light">
                    Cancel
                </a>
            </p>
        </div>
       
    </form>

</div>

<script src="/js/signup.js"></script>