* {
  margin: 5px, 0;
  padding: 0, 5px;
}

body {
  background: beige;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  padding-left: 30px;
  background-color: black;
}

.navbar-item {
  color: darksalmon;
  font-weight: bold;
  font-size: 30px;
}

#signup-title {
  margin-top: 5px;
}

/* styles for radio type questions */
.option-container {
  border: 2px solid black;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100vw;
  padding-top: 20px;
  color: darksalmon;
  background-color: black;
  text-align: center;
}

#loginSubmit {
  background: darksalmon;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 5px 5px 5px #eee;
  height: 50px;
  width: 80px;
  margin-left: 30px;
  color: black;
}

#loginSubmit:hover {
  background: rgb(192, 77, 38);
}

/* takes away number scroll on zip code input */
#zipCode::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
